.goBack-btn {
    float: inline-end;
    margin-right: 40px; 
}

div {
    display: grid;
}

.New {
    justify-content: center;
    text-align: center;
    margin-top: 107px;
}

.fav {
    display: inline;
}


